table,
th,
td {
  border: solid 1px black;
  border-collapse: collapse;
}

td {
  text-align: left;
}

Form {
  align-items: center;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

Table {
  margin: 0 auto;
  margin-top: 50px;
}

h1 {
  background-color: rgb(226, 224, 224);
  width: 600px;
  margin: 0 auto;
}

button {
  padding: 5px;
  width: 100px;
  margin-top: 5px;
  color: red;
  background-color: rgb(237, 167, 167);
  border: none;
}
